body{
	background-color:#336600;
}
h1{
	
	text-align:center;
	font-size:60px;
	
}
#div1{
	
	width:746px;
	height:480px;
	margin:auto;
	background-color:white;
}
#slika{
	
	width:740px;
	height:480px;
	display:block;
	margin:auto;
	border: 3px solid black;
}
#div2{
	
	width:740px;
	height:400px;
	background-color:#336600;
	margin-left:271px;
	border: 3px solid black;
}
p{
	text-align:center;
}
